@import 'tailwindcss';

/* Global sensible defaults */
*,
*::before,
*::after {
  box-sizing: border-box; /* consistent sizing */
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  background-color: #edebe9a1;
  color: #111827;
  justify-content: center;
  align-items: center;
}
