@import 'tailwindcss';

/* Global sensible defaults */
*,
*::before,
*::after {
  box-sizing: border-box; /* consistent sizing */
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  background-color: #edebe9a1;
  color: #111827;
  justify-content: center;
  align-items: center;
}

/* Home + Editor Styles */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out;
}

.screen-container {
  transition: opacity 150ms ease-in-out;
}

.screen-container.updating {
  opacity: 0.95;
}